body{
    background-color: #1b2222;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;

}
h1{
 text-align: center;
 color: #ffffff;
}
.externa {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.videos{
    width: 410px;
}
.midia{
   align-items: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 20px;
}
img{

}